/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */
body{
    font-family: roboto;
    background-color: var(--color-color-main-bg);
    color: var(--color-color-primary-text);
}
header{
    background-color: var(--color-bg-color-white);
    width: 100%;
}
header,main,aside{
    background-color: var(--color-bg-color-white);
    padding: 30px;

}
header,h1, header img{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
}
main{
    max-width: 1200px;
    margin: 40px auto;
    border-radius: 10px;
    background-color: var(--color-bg-color-white);
}
span{
    line-height: 40px;
}
li{
    list-style: none;
}
aside{
    padding-top: 30px;
}

:root {
    --color-bg-color-white: #ffffff;
	--color-color-main-bg: #f6f8f9;
	--color-color-editorial: #14aaf5;
	--color-color-goals: #ab5de6;
	--color-color-recruiting: #2cc6ab;
	--color-color-mobile: #ff9b00;
	--color-color-website: #ec4a9d;
	--color-color-sales: #a3d116;
	--color-color-delet: #ff4343;
	--color-color-primary-text: #000000;
}

/* utility */
.default-pad{
    padding: 10px;
}

/* buttons */
.buttons{
    border-bottom: 2px solid var(--color-color-main-bg);
}
.btn{
    padding: 6px 12px;
    border-radius: 8px;
    background-color: var(--color-bg-color-white);
    color: #c0c0c0;
    border: 1px solid #c0c0c0;
}
.btn.blue{
    background-color: var(--color-color-editorial);
    color: var(--color-color-main-bg);
    border: 1px solid var(--color-color-editorial);
}
.task ul li h3,
.task ul li span{
    display: inline-block;
}

/* cirle */
.circle{
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    border: 1px solid var(--color-color-recruiting);
    border-radius: 50%;
    color:var(--color-color-recruiting);
}
.red-circle{
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    border: 1px solid var(--color-color-delet);
    border-radius: 50%;
    color:var(--color-color-delet);
}
.delet{
    color: var(--color-color-delet);
}

/* badge */
.badge{
    border-radius: 16px;
    padding: 8px 10px;
    font-size: 10px;
    margin-left: 10px;
    color: var(--color-bg-color-white);
}
.editorials{
    background-color: var(--color-color-editorial);
}
.goals{
    background-color: var(--color-color-goals);
}
.recruiting{
    background-color: var(--color-color-recruiting);
}
.mobile{
    background-color: var(--color-color-mobile);
}
.website{
    background-color: var(--color-color-website);
}
.sales{
    background-color: var(--color-color-sales);
}
