/* Font and bg */
body{
    font-family: "Roboto", Arial;
    background-color: #F6F8F9;
}

/* General rules */
*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
} 

/* Header*/
.container{
    border: 3px;
    padding: 5px;
    background-color: white;
    margin-top: 0;   
}
header{
    margin-bottom: 10px;
}

/* Logo settings */
.logo-image{
    float: right;
    padding-bottom: 0;
}
.logo-text{
    float: left;
    font-weight: 900;
    font-size: 20px;
    
}
.container{
    display: flex;
}

.quadrato{
    width: 900px;
    height: 700px;
    background-color:white;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 1%;
}

/* Text Utility */
.text1{
    border:5px solid #47ADF2;
    background-color: #47ADF2;
    color: white;
    border-style: solid;
    border-width: 2px 3px;
    padding-top: 5px;
    width: 120px;
    height: 30px;
    margin: 20px;
    margin-left: 90px;
    border-radius: 10%;
    text-align: center;
}
.text2{
    border:5px solid rgba(128, 128, 128, 0.148);
    background-color:#FFFFFF;
    color: rgba(128, 128, 128, 0.459);
    border-style: solid;
    border-width: 2px 3px;
    width: 120%;
    height: 150%;
    margin: -20%;
    margin-left: 115%;
    border-radius: 10%;
    text-align: center; 
}
nav{
    border-bottom: solid rgba(0, 0, 0, 0.033);
}
.content{
    padding-left: 10%;
    padding-top: 2%;
}

/* Rounded */
.green-circle{
    margin-top: 1%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: solid 1px rgba(0, 128, 0, 0.429);
    text-align: center;
    padding-top: 2px;
    display: inline-block; 
}
.green{
    color: rgba(0, 128, 0, 0.429);
}
.contenuto{
    padding-left: 1%;
    display: inline-block;
}
.editorial{
    border:5px solid rgba(128, 128, 128, 0.148);
    background-color:#47ADF2;
    color: rgba(128, 128, 128, 0.459);
    border-style: solid;
    border-width: 2px 3px;
    width: 12%;
    height: 30%;
    margin: -25px;
    margin-left: 200px;
    border-radius: 10px;
    text-align: center; 
    color: white;
}