body{
    font-family: "Roboto", Arial;
    background-color: grey;
}
header{
    margin-bottom: 10px;
}
.container{
    border: 3px solid black;
    padding: 5px;
    background-color: white;
    
}
.logo-image{
    float: right;
    padding-bottom: 0;
}
.logo-text{
    float: left;
    
}

.container{
    display: flex;
}